/*
1D381D drk grn
747F56 medium grn
B3BC8Blight green
B2B0AE gray
E4CFD6 pink
 */

/* E4CFD6
DCAE62
926DA1
A2509B
1D381D

#f44336*/

html {
  font-size: 1.5em;
  color: #1D381D;
  font-family: sans-serif;
  /* background-image: url('./img/aaron-burden-6csuZQ9oZcI-unsplash.jpg');
  backdrop-filter: blur(5px);
  background-repeat: no-repeat; */
  background-color: #E4CFD6;
  /* background-size: 60%; */
}
